@font-face {
  font-family: 'ti-icon';
  src:  url('fonts/ti-icon.eot?y5zvc6');
  src:  url('fonts/ti-icon.eot?y5zvc6#iefix') format('embedded-opentype'),
    url('fonts/ti-icon.ttf?y5zvc6') format('truetype'),
    url('fonts/ti-icon.woff?y5zvc6') format('woff'),
    url('fonts/ti-icon.svg?y5zvc6#ti-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ti-icon_"], [class*=" ti-icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ti-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-icon_glossary:before {
  content: "\e900";
}
.ti-icon_reference:before {
  content: "\e901";
}
.ti-icon_downloads:before {
  content: "\e902";
}
.ti-icon_toast:before {
  content: "\e903";
}
.ti-icon_analytics_app_analytics:before {
  content: "\e904";
}
.ti-icon_analytics_log_crash_search:before {
  content: "\e905";
}
.ti-icon_analytics:before {
  content: "\e906";
}
.ti-icon_application_service_api_gateway:before {
  content: "\e907";
}
.ti-icon_application_service_cs_bbs:before {
  content: "\e908";
}
.ti-icon_application_service_maps:before {
  content: "\e909";
}
.ti-icon_application_service_role:before {
  content: "\e90a";
}
.ti-icon_application_service_rtcs:before {
  content: "\e90b";
}
.ti-icon_application_service_spell_checker:before {
  content: "\e90c";
}
.ti-icon_application_service:before {
  content: "\e90d";
}
.ti-icon_compute_auto_scale:before {
  content: "\e90e";
}
.ti-icon_compute_fusion_io:before {
  content: "\e90f";
}
.ti-icon_compute_instance_image:before {
  content: "\e910";
}
.ti-icon_compute_instance:before {
  content: "\e911";
}
.ti-icon_compute_monitoring:before {
  content: "\e912";
}
.ti-icon_compute_mysql_instance:before {
  content: "\e913";
}
.ti-icon_compute_ssd_based_server:before {
  content: "\e914";
}
.ti-icon_compute:before {
  content: "\e915";
}
.ti-icon_contact_center_call:before {
  content: "\e916";
}
.ti-icon_contact_center_faq:before {
  content: "\e917";
}
.ti-icon_contact_center_front:before {
  content: "\e918";
}
.ti-icon_contact_center_km:before {
  content: "\e919";
}
.ti-icon_contact_center_mail:before {
  content: "\e91a";
}
.ti-icon_contact_center_qna:before {
  content: "\e91b";
}
.ti-icon_contact_center:before {
  content: "\e91c";
}
.ti-icon_contents_delivery_cdn:before {
  content: "\e91d";
}
.ti-icon_contents_delivery_image:before {
  content: "\e91e";
}
.ti-icon_contents_delivery:before {
  content: "\e91f";
}
.ti-icon_database_rds_for_mysql:before {
  content: "\e920";
}
.ti-icon_database:before {
  content: "\e921";
}
.ti-icon_dev_tools_deploy:before {
  content: "\e922";
}
.ti-icon_dev_tools:before {
  content: "\e923";
}
.ti-icon_dooray_calendar:before {
  content: "\e924";
}
.ti-icon_dooray_contacts:before {
  content: "\e925";
}
.ti-icon_dooray_drive:before {
  content: "\e926";
}
.ti-icon_dooray_mail:before {
  content: "\e927";
}
.ti-icon_dooray_messenger:before {
  content: "\e928";
}
.ti-icon_dooray_project:before {
  content: "\e929";
}
.ti-icon_dooray:before {
  content: "\e92a";
}
.ti-icon_erp_communication_board:before {
  content: "\e92b";
}
.ti-icon_erp_finance:before {
  content: "\e92c";
}
.ti-icon_erp_human_resource:before {
  content: "\e92d";
}
.ti-icon_erp_workflow:before {
  content: "\e92e";
}
.ti-icon_erp:before {
  content: "\e92f";
}
.ti-icon_game_gamebase:before {
  content: "\e930";
}
.ti-icon_game_launching:before {
  content: "\e931";
}
.ti-icon_game_leaderboard:before {
  content: "\e932";
}
.ti-icon_game_real_time_multiplayer:before {
  content: "\e933";
}
.ti-icon_game_smart_downloader:before {
  content: "\e934";
}
.ti-icon_game:before {
  content: "\e935";
}
.ti-icon_idc_tcc:before {
  content: "\e936";
}
.ti-icon_idc:before {
  content: "\e937";
}
.ti-icon_management_managed:before {
  content: "\e938";
}
.ti-icon_management:before {
  content: "\e939";
}
.ti-icon_mobile_service_iap:before {
  content: "\e93a";
}
.ti-icon_mobile_service_mobile_device_info:before {
  content: "\e93b";
}
.ti-icon_mobile_service_mobile_test:before {
  content: "\e93c";
}
.ti-icon_mobile_service:before {
  content: "\e93d";
}
.ti-icon_network_dns:before {
  content: "\e93e";
}
.ti-icon_network_floating_ip:before {
  content: "\e93f";
}
.ti-icon_network_load_balancer:before {
  content: "\e940";
}
.ti-icon_network_network:before {
  content: "\e941";
}
.ti-icon_network_vpc:before {
  content: "\e942";
}
.ti-icon_network:before {
  content: "\e943";
}
.ti-icon_notification_alimtalk:before {
  content: "\e944";
}
.ti-icon_notification_email:before {
  content: "\e945";
}
.ti-icon_notification_push:before {
  content: "\e946";
}
.ti-icon_notification_sms:before {
  content: "\e947";
}
.ti-icon_notification:before {
  content: "\e948";
}
.ti-icon_search_address_search:before {
  content: "\e949";
}
.ti-icon_search_autocomplete:before {
  content: "\e94a";
}
.ti-icon_search_cloud_search:before {
  content: "\e94b";
}
.ti-icon_search_corporation_search:before {
  content: "\e94c";
}
.ti-icon_search:before {
  content: "\e94d";
}
.ti-icon_security_appguard:before {
  content: "\e94e";
}
.ti-icon_security_captcha:before {
  content: "\e94f";
}
.ti-icon_security_dbsafer:before {
  content: "\e950";
}
.ti-icon_security_mal_url_detector:before {
  content: "\e951";
}
.ti-icon_security_otp:before {
  content: "\e952";
}
.ti-icon_security_security_check:before {
  content: "\e953";
}
.ti-icon_security_security_monitoring:before {
  content: "\e954";
}
.ti-icon_security:before {
  content: "\e955";
}
.ti-icon_storage_backup:before {
  content: "\e956";
}
.ti-icon_storage_block_storage:before {
  content: "\e957";
}
.ti-icon_storage_nas_offline:before {
  content: "\e958";
}
.ti-icon_storage_object_storage:before {
  content: "\e959";
}
.ti-icon_storage:before {
  content: "\e95a";
}
.ti-icon_toast_bill_toast_bill_e_tax:before {
  content: "\e95b";
}
.ti-icon_toast_bill:before {
  content: "\e95c";
}
